<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.readaholic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/readholicloh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/readholicloh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".books.Editreview"></activity>
        <activity android:name=".myshelves.BookShelves"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".explore.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name=".settings.edit_Location.LocationSettings" />
        <activity android:name=".settings.edit_Birthday.BirthdaySettings" />
        <activity android:name=".settings.edit_UserName.UserNameSettings" />
        <activity android:name=".settings.Settings" />
        <activity android:name=".home.UpdatePage" />
        <activity android:name=".home.UpdatesActivity" />
        <activity
            android:name=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".profile_and_profile_settings.Profile" />
        <activity
            android:name=".sign_in_up.Start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign_in_up.SignIn"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".sign_in_up.SignUp"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name=".books.BookPageActivity"
            android:theme="@style/AppTheme.NoActionBar"
          />
        <activity
            android:name=".books.BookReviewsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".books.ReviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
             />

    </application>

</manifest>